<Project>
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Debug</Configuration>
    <TargetFramework>net9.0</TargetFramework>
    <PublishDir>bin/DevPublish/</PublishDir>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>

    <EnvironmentName>Development</EnvironmentName>
    <FrontEnvMode>dev</FrontEnvMode>
  </PropertyGroup>
</Project>
