<Project>
  <PropertyGroup>
    <!-- Publish settings -->
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishDir>bin/DevPublish/</PublishDir>
    <TargetFramework>net9.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>

    <!-- Environment variables for the application and frontend -->
    <Configuration>Debug</Configuration>
    <EnvironmentName>Development</EnvironmentName>
    <FrontEnvMode>dev</FrontEnvMode>
  </PropertyGroup>
</Project>
