<Project>
  <PropertyGroup>
    <!-- Publish settings -->
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishDir>bin/ProdPublish/</PublishDir>
    <TargetFramework>net9.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>

    <!-- Environment variables for the application and frontend -->
    <Configuration>Release</Configuration>
    <EnvironmentName>Prod</EnvironmentName>
    <FrontEnvMode>prod</FrontEnvMode>
  </PropertyGroup>
</Project>
